.btns-flex {
    display: flex;
    gap: 0.8em;
    align-items: center;
    justify-content: end;
}

.btns-flex button {
    background-color: #3B4953;
    color: white;
    font-size: 0.8em;
    font-family: SpaceMono, monospace;
    padding: 0.2em 0.4em;
    border-radius: 0.32em;
}

.btns-flex button:hover {
    transform: scale(1.01);
    transition: transform ease-out 0.1s;
    background-color: rgb(59, 73, 83, 0.9);
}

.btns-flex button:active {
    transform: scale(0.99);
    transition: transform ease-out 0.1s;
}