@font-face {
    font-family: SpaceMono;
    src: url("./fonts/SpaceMono-Regular.woff2"),
        url("./fonts/SpaceMono-Regular.woff");
}

.form-container {
    padding: 3.2em;
    display: flex;
    flex-direction: column;
    gap: 3.2em;
    width: 30vw;
    font-size: 1.05em;
    font-family: SpaceMono, system-ui;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field input {
    width: 15vw;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 0.3em;
    border: none;
}


